{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_header %}
    <header class="header-main">
        {% block base_header_inner %}
            <div class="top-nav-bg">
                {% sw_include '@Storefront/storefront/layout/header/top-bar.html.twig' %}
            </div>
            {% sw_include '@Storefront/storefront/layout/header/header.html.twig' %}
        {% endblock %}
    </header>
{% endblock %}

{% block base_navigation %}

{% endblock %}

{% block base_main %}
    <main class="content-main">
        {% sw_include '@MarkusTheme/storefront/layout/header/emz_main_nav.html.twig' %}
        <div class="container mb-3">
            <img style="display: block; max-width: 100%" alt="hero" src="{{ asset('bg-hero.jpg', '@MarkusTheme') }}"/>
        </div>
    </main>
{% endblock %}



{% block base_footer %}
    <footer>
        {% block base_footer_inner %}
            <div class="container">
                {% sw_include '@Storefront/storefront/layout/footer/footer.html.twig' %}
            </div>
        {% endblock %}
    </footer>
{% endblock %}
