{% block emz_main_nav %}
    <nav class="emz_main_nav container d-none d-md-flex justify-content-between align-items-center sticky-top">
        <ul class="d-flex m-0 p-0">
            <li class="emz_menu_item"><a href="#" class="text-uppercase pl-1 pr-2"><span>home</span></a></li>
            <li class="emz_menu_item">
                <a href="#" id="categories" class="first_level text-uppercase pl-1 pr-2"><span>categories</span></a>
                <i class="menu_toggle fas fa-chevron-down"></i>
                <div class="emz_sub_menu emz_sub_menu_small">
                    <div class="row">
                        <ul class="emz_sub_child_menu col-md-8 d-flex">
                            <li class="second_level emz_menu_item">
                                <a href="#" class=" emz_dropdown_heading pl-3 pt-4">Variations 1</a>
                                <ul class="emz_sub_child_menu pl-3">
                                    <li class="second_level emz_menu_item"><a href="#">Fullwidth Banner</a></li>
                                    <li class="second_level emz_menu_item"><a href="#">Boxed Image Banner</a></li>
                                    <li class="second_level emz_menu_item"><a href="#">Boxed Slider Banner</a></li>
                                    <li class="second_level emz_menu_item"><a href="#">Left Sidebar</a></li>
                                    <li class="second_level emz_menu_item"><a href="#">Right Sidebar</a></li>
                                    <li class="second_level emz_menu_item"><a href="#">Product Flex Grid</a></li>
                                    <li class="second_level emz_menu_item"><a href="#">Product List Item Types</a></li>
                                </ul>
                            </li>

                            <li class="second_level emz_menu_item">
                                <a href="#" class="emz_dropdown_heading pl-3 pt-4">Variations 2</a>
                                <ul class="emz_sub_child_menu pl-3">
                                    <li class="second_level emz_menu_item"><a href="#">
                                            Ajax Infinite Scroll
                                            {% sw_include '@MarkusTheme/storefront/layout/header/emz_new_badge.html.twig' %}
                                        </a>
                                    </li>
                                    <li class="second_level emz_menu_item"><a href="#">3 Columns Products</a></li>
                                    <li class="second_level emz_menu_item"><a href="#">4 Columns Products</a></li>
                                    <li class="second_level emz_menu_item"><a href="#">5 Columns Products</a></li>
                                    <li class="second_level emz_menu_item"><a href="#">6 Columns Products</a></li>
                                    <li class="second_level emz_menu_item"><a href="#">7 Columns Products</a></li>
                                    <li class="second_level emz_menu_item"><a href="#">8 Columns Products</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="emz_menu_right col-4">
                            <a href="#">
                                <img class="emz_small_dropdown_image" alt="sale" src="{{ asset('menu-banner-static-width2.jpg', '@MarkusTheme') }}"/>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="emz_menu_item position-static">
                <a href="#" id="products" class="first_level text-uppercase pl-1 pr-2"><span>products</span></a>
                <i class="menu_toggle fas fa-chevron-down"></i>
                <div class="emz_sub_menu emz_fullwidth_dropdown">
                    <div class="row">
                        <ul class="emz_sub_child_menu col-md-8 d-flex">
                            <li class="second_level emz_menu_item">
                                <a href="#" class="emz_dropdown_heading pl-3 pt-4">Variations</a>
                                <ul class="emz_sub_child_menu pl-3">
                                    <li class="second_level emz_menu_item"><a href="#">Product Page With Sidebar</a></li>
                                    <li class="second_level emz_menu_item"><a href="#">Product Page Without Sidebar</a></li>
                                    <li class="second_level emz_menu_item"><a href="#">Horizontal Thumbnails</a></li>
                                    <li class="second_level emz_menu_item"><a href="#">Vertical Thumbnails</a></li>
                                    <li class="second_level emz_menu_item"><a href="#">Addtocart Sticky</a></li>
                                    <li class="second_level emz_menu_item"><a href="#">Vertical Tabs</a></li>
                                </ul>
                            </li>

                            <li class="second_level emz_menu_item">
                                <a href="#" class="emz_dropdown_heading pl-3 pt-4">Variations</a>
                                <ul class="emz_sub_child_menu pl-3">
                                    <li class="second_level emz_menu_item"><a href="#">Accordion Tabs</a></li>
                                    <li class="second_level emz_menu_item"><a href="#">Sticky Tabs</a></li>
                                    <li class="second_level emz_menu_item"><a href="#">Configurable Product</a></li>
                                    <li class="second_level emz_menu_item"><a href="#">Bundle Product</a></li>
                                    <li class="second_level emz_menu_item"><a href="#">Grouped Product</a></li>
                                    <li class="second_level emz_menu_item"><a href="#">Downloadable Product</a></li>
                                </ul>
                            </li>

                            <li class="second_level emz_menu_item">
                                <a href="#" class="emz_dropdown_heading pl-3 pt-4">Product Layout Types</a>
                                <ul class="emz_sub_child_menu pl-3">
                                    <li class="second_level emz_menu_item"><a href="#">Default Layout</a></li>
                                    <li class="second_level emz_menu_item">
                                        <a href="#">
                                            Extended Layout
                                            {% sw_include '@MarkusTheme/storefront/layout/header/emz_new_badge.html.twig' %}
                                        </a>
                                    </li>
                                    <li class="second_level emz_menu_item"><a href="#">
                                            Full Width Layout
                                            {% sw_include '@MarkusTheme/storefront/layout/header/emz_new_badge.html.twig' %}
                                        </a>
                                    </li>
                                    <li class="second_level emz_menu_item">
                                        <a href="#">
                                            Grid Images Layout
                                            {% sw_include '@MarkusTheme/storefront/layout/header/emz_new_badge.html.twig' %}
                                        </a>
                                    </li>
                                    <li class="second_level emz_menu_item">
                                        <a href="#">
                                            Sticky Right Side Info
                                            {% sw_include '@MarkusTheme/storefront/layout/header/emz_new_badge.html.twig' %}
                                        </a>
                                    </li>
                                    <li class="second_level emz_menu_item">
                                        <a href="#">
                                            Vertical Layout
                                            {% sw_include '@MarkusTheme/storefront/layout/header/emz_new_badge.html.twig' %}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="emz_menu_right col-4">
                            <a href="#">
                                <img class="emz_small_dropdown_image" alt="sale" src="{{ asset('menu-banner15.jpg', '@MarkusTheme') }}"/>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="emz_menu_item">
                <a href="#" id="pages" class="first_level text-uppercase pl-1 pr-2"><span>pages</span></a>
                <i class="menu_toggle fas fa-chevron-down"></i>
                <div class="emz_sub_menu">
                    <ul class="emz_sub_child_menu pl-3">
                        <li class="second_level emz_menu_item"><a href="#">About Us</a></li>
                        <li class="second_level emz_menu_item"><a href="#">Contact Us</a></li>
                        <li class="second_level emz_menu_item"><a href="#">Blog</a></li>
                        <li class="second_level emz_menu_item"><a href="#">Post</a></li>
                        <li class="second_level emz_menu_item"><a href="#">Shopping Cart</a></li>
                        <li class="second_level emz_menu_item"><a href="#">Checkout</a></li>
                        <li class="second_level emz_menu_item"><a href="#">My Account</a></li>
                    </ul>
                </div>
            </li>
            <li class="emz_menu_item">
                <a href="#" id="features" class="first_level text-uppercase pl-1 pr-2"><span>features</span></a>
                <i class="menu_toggle fas fa-chevron-down"></i>
                <div class="emz_sub_menu">
                    <ul class="emz_sub_child_menu pl-3">
                        <li class="second_level emz_menu_item"><a href="#">Header Types</a></li>
                        <li class="second_level emz_menu_item"><a href="#">Footer Types</a></li>
                    </ul>
                </div>
            </li>
            <li class="emz_menu_item"><a href="#" class="text-uppercase pl-1 pr-2"><span>special offer!</span></a></li>
            <li class="emz_menu_item"><a href="#" class="text-uppercase pl-1 pr-2"><span>buy porto!</span></a></li>
        </ul>
        <span>{% sw_include '@MarkusTheme/storefront/layout/header/emz_shopping_cart.html.twig' %}</span>
    </nav>
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(".emz_menu_item").click(function() {
        $(this).find(".first_level").toggleClass("active_list");
        $(this).find(".fas").toggleClass("fa-chevron-down");
        $(this).find(".fas").toggleClass("fa-chevron-up");
        $(this).find(".emz_sub_menu").toggleClass("show");
    });

    $(document).mouseup(e => {
        if (!$(".emz_menu_item").is(e.target) && $(".emz_menu_item").has(e.target).length === 0) {
            $("body").removeClass('showSidebar');
        }
    });

    $("#toggleSideBar").click(function () {
        $("body").toggleClass("showSidebar");
    })
</script>
