{% block emz_curr_lang_switch %}
    <div class="select-wrapper">
        <div class="dropdown">
            <div id="currency" class="switch-box dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>
                        USD
                    </span>
                <div class="dropdown-menu" aria-labelledby="currency">
                    <a class="dropdown-item" href="#">EUR</a>
                </div>
            </div>
        </div>

        <div class="dropdown">
            <div id="lang" class="switch-box dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>
                        English
                    </span>
                <div class="dropdown-menu" aria-labelledby="lang">
                    <a class="dropdown-item" href="#">Deutsch</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
