{% block header_head_nav %}
    <div class="container d-none d-md-flex justify-content-md-end justify-content-lg-between emz_head_nav_wrapper">
        {% sw_include '@MarkusTheme/storefront/layout/header/emz_compare.html.twig' %}
        <ul class="d-flex m-0">
            {% for ServiceItem in page.header.serviceMenu %}
                <li class="emz_head_nav_items"><a href="{{ seoUrl('frontend.navigation.page', { navigationId: ServiceItem.id }) }}">{{ ServiceItem.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
