{% block emz_shopping_cart %}
    <span class="emz_shopping_cart_wrapper">
        <i class="fas fa-shopping-basket"></i>
        <span class="text-uppercase">0 items</span>
    </span>

    {% block emz_shopping_cart_details %}
        <div class="emz_shopping_cart_details">
            <i class="fas fa-times"></i>
            You have no items in your shopping cart.
        </div>
    {% endblock %}
{% endblock %}
