{% block emz_curr_lang_switch %}
    <div class="emz_select_wrapper">
        <div id="currency" class="emz_switch_box">
            <span>
                USD
            </span>
            <i class="fas fa-chevron-down"></i>
            <span class="emz_switch_box_menu">EUR - Euro</span>
        </div>

        <div id="lang" class="emz_switch_box">
            <span>
                English
            </span>
            <i class="fas fa-chevron-down"></i>
            <span class="emz_switch_box_menu">Add More</span>
        </div>
    </div>
{% endblock %}
