{% block header_head_nav %}
    <div class="container d-none d-md-flex justify-content-md-end justify-content-lg-between emz_head_nav_wrapper">
        {% sw_include '@MarkusTheme/storefront/layout/header/emz_compare.html.twig' %}
        <ul class="d-flex m-0">
            <li class="emz_head_nav_items">Default Welcome MSG!</li>
            <li class="emz_head_nav_items"><a href="">Contact Us</a></li>
            <li class="emz_head_nav_items"><a href="">Blog</a></li>
            <li class="emz_head_nav_items"><a href="">Sign In</a></li>
            <li class="emz_head_nav_items"><a href="">Create An Account</a></li>
        </ul>
    </div>
{% endblock %}
