{% block header_head_nav %}
    <div class="container d-none d-md-flex justify-content-between emz_head_nav_wrapper">
        {% sw_include '@MarkusTheme/storefront/layout/header/emz_compare.html.twig' %}
        <ul class="d-flex m-0">
            <li class="emz_head_nav_items">DEFAULT WELCOME MSG!</li>
            <li class="emz_head_nav_items"><a href="">CONTACT US</a></li>
            <li class="emz_head_nav_items"><a href="">BLOG</a></li>
            <li class="emz_head_nav_items"><a href="">SIGN IN</a></li>
            <li class="emz_head_nav_items"><a href="">CREATE AN ACCOUNT</a></li>
        </ul>
    </div>
{% endblock %}

{% block header_mid_nav %}
    <div class="emz_sepline"></div>
    <div class="container d-flex justify-content-between align-items-center my-4">
        <div class="col-md-4 p-0 d-none d-md-block">
            {% sw_include '@MarkusTheme/storefront/layout/header/emz_curr_lang_switch.html.twig' %}
        </div>
        <div class="col-4 p-0 text-center">
            <img alt="logo" class="logo" src="{{ asset('logo_black_new.png', '@MarkusTheme') }}"/>
        </div>

        <div class="col-md-4 p-0 d-none d-md-block">
            {% sw_include '@MarkusTheme/storefront/layout/header/emz_searchbox.html.twig' %}
        </div>

        <div class="col-8 p-0 d-sm-block d-md-none text-right">
            <span class="emz_icon_wrapper">
                <i id="searchIcon" class="fas fa-search"></i>
                <i id="toggleSideBar" class="fas fa-bars"></i>
                {% sw_include '@MarkusTheme/storefront/layout/header/emz_shopping_cart.html.twig' %}
            </span>
        </div>
    </div>
    <div class="emz_sepline"></div>
{% endblock %}

