{% sw_include '@MarkusTheme/storefront/layout/header/emz_head_nav.html.twig' %}

{% block header_mid_nav %}
    <div class="emz_sepline"></div>
    <div class="container d-flex justify-content-between align-items-center my-4">
        <div class="col-md-4 p-0 d-none d-md-block">
            {% sw_include '@MarkusTheme/storefront/layout/header/emz_curr_lang_switch.html.twig' %}
        </div>
        <div class="col-4 p-0 text-center">
            <img alt="logo" class="logo" src="{{ asset('logo_black_new.png', '@MarkusTheme') }}"/>
        </div>

        <div class="col-md-4 p-0 d-none d-md-block">
            {% sw_include '@MarkusTheme/storefront/layout/header/emz_searchbox.html.twig' %}
        </div>

        <div class="col-8 p-0 d-sm-block d-md-none text-right">
            <span class="emz_icon_wrapper">
                <i id="searchIcon" class="fas fa-search"></i>
                <i id="toggleSideBar" class="fas fa-bars"></i>
                {% sw_include '@MarkusTheme/storefront/layout/header/emz_shopping_cart.html.twig' %}
            </span>
        </div>
    </div>
    <div class="container">
        <input class="emz_mobile_search_box" type="text" placeholder="Search...">
    </div>
    <div class="emz_sepline"></div>
{% endblock %}

