<div class="mid-nav">
    <div>Compare</div>
    <ul>
        <li>DEFAULT WELCOME MSG!</li>
        <li><a href="">CONTACT US</a></li>
        <li><a href="">BLOG</a></li>
        <li><a href="">SIGN IN</a></li>
        <li><a href="">CREATE AN ACCOUNT</a></li>
    </ul>
</div>

<div class="main-nav">
    <div>USD ENGLISH</div>
    <img src="{{ asset('logo_black_new.png', '@MarkusTheme') }}"/>
    <input/>
</div>
