{% block layout_header_top_bar %}
    <div class="row">
        <div class="col-md-9">
            <span style="margin-right: 30px">FREE SHIPPING & RETURN</span>
            <span style="margin-right: 30px">MONEY BACK GUARANTEE</span>
            <span style="margin-right: 30px">ONLINE SUPPORT 24/7</span>
        </div>
        <div class="col-md-3" style="text-align: right">
            <span>CALL US + 000 1584 2578</span>
        </div>
    </div>
{% endblock %}
