{% block layout_header_top_bar %}
    <div class="container">
        <div class="row">
            <div class="col-md-9 d-none d-md-block">
                <span class="emz_topbar_item">FREE SHIPPING & RETURN</span>
                <span class="emz_topbar_item">MONEY BACK GUARANTEE</span>
                <span class="emz_topbar_item">ONLINE SUPPORT 24/7</span>
            </div>
            <div class="col-md-3 text-left text-md-right">
                <span>CALL US + <span style="font-weight: 600" class="ml-3">000 1584 2578</span></span>
            </div>
        </div>
    </div>
{% endblock %}
